body{
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 150%;
    font-family: "Sawarabi Mincho";
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/*リンク*/
a,a:active,a:focus{
    color: #444;
}

a:hover{
    text-decoration: none;
}
/*「「「「「「「「「「「「「「「「「「「「「「「「「「「「「「「*/
/*ヘッダー*/
header{
    margin-bottom: 30px;
    width: 100%;
    height: 80px;
    background: black;
    color: whitesmoke;
    padding: 0;
    position: fixed;
    z-index: 1;
}

header h1{
    float: left;
    margin: 0;
    text-align: center;
    padding-left: 15px;
    line-height: 80px;
    font-size: 40px;
}


/*ナビゲーション*/
#top-nav{
    position: relative;
    float: right;
    width: 500px;
    font-size: 14px;
}

#top-nav a{
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

#top-nav a:hover{
    text-decoration: under-line;
}

#top-nav ul{
    position: absolute;
    width: 450px;
}

#top-nav ul li{
    float: left;
    list-style: none;
    padding: 15px;
}
#top-nav ul li:first-child{
    background: #b6a489;
}

#top-nav ul li:hover{
    text-decoration: underline;
}

/*「「「「「「「「「「「「「「「「「「「「「「「「「「「「「「「*/
/*メイン*/
.main{
    margin: 0 auto;
    width: 980px;
    overflow: hidden;
    padding: 150px 0 150px 0;
}

h1{
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

/*セクション*/
section{
    margin: 15px;

    display: block;
}


#main-form{
    float: left;
    min-height: 600px;
}

/*「「「「「「「「「「「「「「「「「「「「「「「「「「*/
/*フォーム*/
label{
    display: block;
    font-size: 20px;
    padding: 20px;
}

label.err input{
    background: rgba( 255, 0, 0, 0.25 );
}
/*バリデーションエラー*/
form.cmxform label.error, label.error{
    color: red;
    padding: 0;
}
.err_msg{
    color: red;
}

.area-msg{
    color: red;
    padding: 0 20px;
}





input[type="text"], input[type="password"], input[type="number"], .form select,
textarea{
    margin-bottom: 15px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    background: #333;
    color: aliceblue;
    display: block;
}

input[type="checkbox"]{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: #f6f5f5;
  padding: 20px;
}
input[type="number"] {
  width: 100px;
  text-align: left;
}


input[type="submit"],input[type="reset"] {
  font-size: 14px;
  margin: 10px 20px;
    margin-right: 0;
  padding: 15px 30px;
  border: none;
  background: #333;
  color: white;
  box-sizing: border-box;
  width: 100%;
}


select:hover,
input[type="submit"]:hover,input[type="reset"]:hover{
    cursor: pointer;
}

.form{
    margin: 0 auto;
    padding: 50px;
    width: 500px;
    border: 5px solid #b6a489;
}

.form ul li{
    list-style: none;
}

.count-set{
    height: 300px;
}

.count{
    overflow: hidden;
    float: right;
}
.show-count{
    
}

.file{
    padding: 40px 0 0 20px;
    font-size: 20px;
    margin: 10px 0 0 0;
}
.link{
    padding: 30px 0;
}

.fullname{
}

.wider{
    width: 50%;
}

.diary{
    padding: 20px 0;
    font-size: 30px;
}

.btn{
    overflow: hidden;
    padding: 40px 20px 0 0;
}

.btn-mid{
    float: right;
    max-width: 150px;
    display: block;
    margin: 10px;
}

.btn-with{
    margin: auto;
    max-width: 200px;
}

/*pic*/

.form .pic-drop{
    width: 50%;
    margin: auto;
    padding: 20px;
}

.form .area-drop{
    margin-bottom: 15px;
    width: 100%;
    height: 150px;
    background: #f6f5f4;
    color: #ccc;
    text-align: center;
    line-height: 150px;
    position: relative;
    box-sizing: border-box;
    margin: auto;
}

.form .input-file{
    opacity: 0;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
}

.form .prev-img{
    width: 100%;
    height: 100%;
}

/*panel*/
.panel{
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-right: 15px;
    min-height: 185px;
    width: 25%;
    text-decoration: none;
    line-height: 1.2em;
}

.panel-head{
    font-size: 25px;
    padding-top: 10px;
}
.panel-category{
    padding: 10px;
    margin-left: 10px;
}
.panel-body{
    background: #f6f5f4;
    padding: 10px;
    margin-left: 10px;
}
.panel-text{
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 150%;
}
.panel-footer{
    margin-left: 10px;
}
.panel-footer img{
    width: 100%;
}

/*weather*/
#weather{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width: 40%;
    cursor: pointer;
}





/*「「「「「「「「「「「「「「「「「「「「「「「「「「「「「*/
/*サイドバー*/
#sidebar{
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    padding: 15px;
    min-height: 600px;
    width: 220px;
    background: black;
}

#sidebar a{
    text-decoration: none;
    color: #b6a489;
    font-size: 20px;
    float: left;
    padding: 15px;
}

#sidebar a:hover{
    text-decoration: underline;
}

/*「「「「「「「「「「「「「「「「「「「「「「「「「「「「「「「*/
/*footer*/
footer{
    padding: 15px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}

footer a{
    color: white;
}

/*スライド*/

.msg-slide{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 40px;
    background: rgba(122,206,230,0.6);
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}





